<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only ADB entry. A private random token is required by call(). -->
        <provider
            android:name=".DebugTaskProvider"
            android:authorities="dev.qajua.quietcalendar.debug"
            android:exported="true" />
    </application>
</manifest>
